@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", sans-serif;
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-orange: #f97316;
  --color-orange-hover: #f46036;
  --color-green: #22c55e;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #eaecef;
  --color-gray-300: #e2e5e9;
  --color-gray-400: #dadde2;
  --color-gray-500: #878c97;
  --color-gray-600: #323c4c;
  --color-gray-700: #2d3747;
  --color-gray-800: #252f3d;
  --color-gray-900: #1f2937;
  --breakpoint-sm: 512px;
}

* {
  @apply font-inter box-border;
}

body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-500 w-full relative flex flex-col items-center;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  @apply absolute right-4 size-4.5 invert-50;
}

::selection {
  @apply bg-orange text-white;
}

@utility autofill-for-light {
  -webkit-text-fill-color: #1f2937;
  transition: background-color 5000s ease-in-out 0s;
}

@utility autofill-for-dark {
  -webkit-text-fill-color: #f3f4f6;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #878c97;
  @apply autofill-for-light dark:autofill-for-dark;
}

.logo {
  @apply md:text-[30px] sm:text-[27px] text-[24px] leading-none font-bold text-orange md:-mt-1 -mt-0.5;
}

/* Button Classes */

.btn-sm {
  @apply md:h-9 h-8 md:px-3 px-2.5 md:text-base text-sm leading-none flex items-center justify-center rounded-md active:scale-95 cursor-pointer;
}

.btn-lg {
  @apply md:h-12 h-10 md:px-4 px-3 md:text-base text-sm leading-none flex items-center justify-center rounded-md active:scale-95 cursor-pointer;
}

.btn-gray {
  @apply bg-gray-300 dark:bg-gray-700 text-gray-900 dark:text-gray-100 hover:bg-gray-400 dark:hover:bg-gray-600;
}

.btn-orange {
  @apply bg-orange text-white hover:bg-orange-hover;
}

/* Icon Classes */

.icon-sm,
.icon-lg {
  @apply flex items-center justify-center rounded-md active:scale-95 bg-gray-300 dark:bg-gray-700 hover:bg-gray-400 dark:hover:bg-gray-600 fill-gray-900 dark:fill-gray-100 cursor-pointer;

  svg {
    @apply sm:size-4 size-3.5;
  }
}

.icon-lg {
  @apply md:size-9 size-8;
}

.icon-sm {
  @apply md:size-8 size-7;
}

.eye {
  @apply absolute right-4 size-4 fill-gray-500 cursor-pointer;
}

/* Headings Classes */

.main-heading {
  @apply lg:text-[30px] md:text-[27px] sm:text-[25px] text-[22px] leading-normal font-bold text-gray-900 dark:text-gray-100;
}

.secondary-heading {
  @apply text-lg font-medium text-gray-900 dark:text-gray-100;
}

/* Input Classes */

.input {
  @apply w-full relative border rounded-md outline-none h-12 px-4 bg-transparent text-gray-900 dark:text-gray-100 placeholder:text-gray-500 focus:border-orange border-gray-500;
}

.label {
  @apply text-gray-900 dark:text-gray-100 pl-0.5;
}

/* Container Classes */

.popup-container {
  @apply fixed top-0 left-0 size-full z-10 bg-gray-500/80 dark:bg-gray-900/80 flex flex-col items-center justify-center;
}

.box {
  @apply w-full max-w-md relative bg-gray-200 dark:bg-gray-800 rounded-md sm:p-10 p-6 flex flex-col sm:gap-6 gap-5 items-center border-x border-orange text-center;
}

.small-popup {
  @apply absolute z-20 top-5 p-4 rounded-md flex items-center justify-center gap-5 shadow-lg border-x border-orange bg-gray-200 dark:bg-gray-800;
}

/* Todo Classes */

.todo {
  @apply w-full relative bg-gray-200 dark:bg-gray-800 p-4 rounded-md flex flex-col gap-4 border-x;
}

.read-more {
  @apply text-orange hover:text-orange-hover text-sm active:scale-95;
}

.due-time {
  @apply px-2 md:h-8 h-7 md:text-sm text-xs rounded-md flex items-center justify-center bg-gray-300 dark:bg-gray-700;
}
